sftp-config.json
*Thumbs.db
vendor/
issuuservice-lib/.git/
issuuservice-lib/vendor/
includes/Mobile-Detect/.git/
includes/Mobile-Detect/examples/
includes/Mobile-Detect/tests/
composer.phar
composer.lock