sftp-config.json
*Thumbs.db
vendor/

issuuservice-lib/.git/
issuuservice-lib/console/
issuuservice-lib/tests/
issuuservice-lib/vendor/
issuuservice-lib/composer.json
issuuservice-lib/console.php
issuuservice-lib/phpunit.xml
issuuservice-lib/test.php

includes/mobile-detect/.git/
includes/mobile-detect/examples/
includes/mobile-detect/export/
includes/mobile-detect/namespaced/
includes/mobile-detect/tests/
includes/mobile-detect/.php_cs
includes/mobile-detect/.travis.yml
includes/mobile-detect/composer.json
includes/mobile-detect/Mobile_Detect.json

composer.phar
composer.lock